<div class="card page-card">
  <div class="pt-1">
    <h4>Aviso:</h4>
    <h5>Opcionales a integrar para no olvidarme:</h5>
    <ul>
      <li>Páginar los items buscados y seleccionados para la salida de mercancía</li>
    </ul>
  </div>
  <div class="row pt-4">
    <div class="col-12 col-lg-8">
      <div class="card chart-card">
        <div class="line-chart-container">
          <canvas id="line-chart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="card chart-card">
        <div class="pie-chart-container">
          <canvas id="doughnut-chart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-12 col-lg-8">
      <div class="card chart-card">
        <div class="bar-chart-container">
          <canvas id="bar-plans-chart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="card chart-card">
        <div class="pie-chart-container">
          <canvas id="pie-chart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <h4>Widgets Examples</h4>
  </div>
  <div class="row pt-4">
    <div class="col-12 col-lg-4 d-flex justify-content-around">
      <app-widget widgetType="total-sales-solid"></app-widget>
    </div>
    <div class="col-12 col-lg-4 d-flex justify-content-around">
      <app-widget widgetType="month-sales-solid"></app-widget>
    </div>
    <div class="col-12 col-lg-4 d-flex justify-content-around">
      <app-widget widgetType="week-sales-solid"></app-widget>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-12 col-lg-4 d-flex justify-content-around">
      <app-widget widgetType="refunds-solid"></app-widget>
    </div>
    <div class="col-12 col-lg-4 d-flex justify-content-around">
      <app-widget widgetType="visits-solid"></app-widget>
    </div>
    <div class="col-12 col-lg-4 d-flex justify-content-around">
      <app-widget widgetType="vouchers-solid"></app-widget>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-12 col-lg-4 d-flex justify-content-around">
      <app-widget widgetType="total-sales"></app-widget>
    </div>
    <div class="col-12 col-lg-4 d-flex justify-content-around">
      <app-widget widgetType="month-sales"></app-widget>
    </div>
    <div class="col-12 col-lg-4 d-flex justify-content-around">
      <app-widget widgetType="week-sales"></app-widget>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-12 col-lg-4 d-flex justify-content-around">
      <app-widget widgetType="refunds"></app-widget>
    </div>
    <div class="col-12 col-lg-4 d-flex justify-content-around">
      <app-widget widgetType="visits"></app-widget>
    </div>
    <div class="col-12 col-lg-4 d-flex justify-content-around">
      <app-widget widgetType="vouchers"></app-widget>
    </div>
  </div>
</div>
