<h3 class="title-motos">Aviso actualización (20/12):</h3>
<ul>
  <li>Se agrego un paso extra al momento de generar salidas de mercancía. Esto se hizo con la intención de reducir los casos que posean el error de cargar mal la cantidad. </li>
  <li>Ahora a los servicios de tipo control no se le podrá asociar una salida de mercancía. Y para los services que ya posean una salida de mercancía asociada no podrán editar el tipo de servicio a control.</li>
  <li>Se agregaron validaciones que en algunas situaciones saldran con respecto a servicios que se necesiten remitir un combo o servicio al momento de cerrarlo. Esto con la intención de reducir los errores al momento de editar un service.</li>
</ul>
<h3 class="title-motos pt-3">
  Ingresar el tipo de busqueda y lo que desee buscar:
</h3>
<form class="input-group searchbar-container" [formGroup]="searchForm">
  <div class="input-field">
    <i class="fa-solid fa-filter"></i>
    <select
      id="type"
      formControlName="type"
      placeholder="Status"
      (change)="clearState()"
    >
      <option value="DNI">DNI</option>
      <option value="Client">C° Cliente</option>
      <!--<option value="ClientName">Nombre del cliente</option> -->
      <option value="Chasis">Chasis</option>
      <option value="Motor">Motor</option>
      <option value="Serie">Serie</option>
    </select>
  </div>
  <div class="input-field">
    <i class="fas fa-search"></i>
    <input id="search" formControlName="search" placeholder="Search" />
  </div>
  <button
    class="btn solid"
    (click)="searchCustomerMotorbike()"
    [disabled]="!searchForm.valid"
  >
    Buscar
  </button>
</form>
<div
  class="card page-card-motos"
  *ngIf="motosState.customer.length > 0 && motosState.error === null"
>
  <div
    class="client-motorbike-info"
    *ngFor="let customer of motosState.customer"
  >
    <span>Nombre del cliente: {{ customer.CardName }}</span
    ><br />
    <span>C° del cliente: {{ customer.CardCode }} </span><br />
    <span>DNI/CUIL del cliente: {{ customer.FederalTaxID }} </span><br />
    <span
      >Deseas cargar una moto?
      <strong (click)="openDialogService(motosState.customer[0], modalSevice)"
        >Toca aquí.</strong
      >
    </span>
  </div>
</div>
<div
  class="card page-card-motos"
  *ngIf="motosState.motos.length > 0 || motosState.error !== null"
>
  <div
    *ngIf="
      motosState.error !== null &&
      searchForm.value.type !== 'DNI' &&
      searchForm.value.type !== 'Client'
    "
    class="client-motorbike-info"
  >
    <span>{{ motosState.error }}</span>
  </div>
  <div
    *ngIf="
      (motosState.error !== null && searchForm.value.type === 'DNI') ||
      (motosState.error !== null && searchForm.value.type === 'Client')
    "
    class="client-motorbike-info"
  >
    <span
      >{{ motosState.error }} <br />
      Deseas cargarlo?
      <strong (click)="openDialog(modalNewClient)">Toca aquí.</strong></span
    >
  </div>
  <div
    *ngIf="
      motosState.motos.length > 0 &&
      motosState.motos[0].DocEntry &&
      !searchByName
    "
    class="client-motorbike-info"
  >
    <span>Nombre del Cliente: {{ motosState.motos[0].CardName }} </span><br />
    <span>C° del Cliente: {{ motosState.motos[0].CardCode }}</span
    ><br />
    <span>Moto comprada en Yuhmak.</span><br />
    <span
      >Deseas consultar el historial de servicios de motos del cliente?
      <strong (click)="getHistory(motosState.motos[0].CardCode, dialogHistory)"
        >Toca aquí.</strong
      ></span
    >
  </div>
  <div
    *ngIf="
      motosState.motos.length > 0 &&
      !motosState.motos[0].DocEntry &&
      !searchByName
    "
    class="client-motorbike-info"
  >
    <span>Nombre del Cliente: {{ motosState.motos[0].CustomerName }} </span
    ><br />
    <span>C° del Cliente: {{ motosState.motos[0].CustomerCode }}</span
    ><br />
    <span>Moto no comprada en Yuhmak.</span><br />
    <span
      >Deseas consultar el historial de servicios?
      <strong
        (click)="getHistory(motosState.motos[0].CustomerCode, dialogHistory)"
        >Toca aquí.</strong
      ></span
    >
  </div>
  <app-table
    *ngIf="
      motosState.motos.length > 0 &&
      motosState.motos[0].DocEntry &&
      motosState.customer.length <= 0
    "
    [headers]="headers"
  >
    <tr class="tr-container" *ngFor="let customerMotorbike of motosState.motos">
      <td class="td-item">
        <div class="info-of-item-container">
          {{ customerMotorbike.DocEntry }}
        </div>
      </td>
      <td class="td-item" *ngIf="searchByName">
        <div class="info-of-item-container">
          {{ customerMotorbike.CardCode }}
        </div>
      </td>
      <td class="td-item" *ngIf="searchByName">
        <div class="info-of-item-container">
          {{ customerMotorbike.CardName }}
        </div>
      </td>
      <td class="td-item">
        <div class="info-of-item-container">
          {{ customerMotorbike.Dscription }}
        </div>
      </td>
      <td class="td-item">
        <div class="info-of-item-container">
          {{
            customerMotorbike.Color !== null
              ? customerMotorbike.Color
              : "No posee"
          }}
        </div>
      </td>
      <td class="td-item">
        <div class="info-of-item-container">
          {{
            customerMotorbike.U_Chasis !== null
              ? customerMotorbike.U_Chasis
              : "No posee"
          }}
        </div>
      </td>
      <td class="td-item">
        <div class="info-of-item-container">
          {{
            customerMotorbike.U_Motor !== null
              ? customerMotorbike.U_Motor
              : "No posee"
          }}
        </div>
      </td>
      <td class="td-item">
        <div class="info-of-item-container">
          {{
            customerMotorbike.IntrSerial !== null
              ? customerMotorbike.IntrSerial
              : "No posee"
          }}
        </div>
      </td>
      <td class="td-item">
        <div class="info-of-item-container actions-container">
          <i
            class="fa-solid fa-pen-to-square edit-action"
            (click)="openDialogService(customerMotorbike, modalSevice)"
            ngbTooltip="Crear / Editar Service"
          ></i>

          <i
            class="fa fa-history history-action"
            aria-hidden="true"
            ngbTooltip="Consultar el historial de servicios de la moto"
            (click)="
              getHistory(
                customerMotorbike.CardCode,
                dialogHistory,
                customerMotorbike.U_Chasis
              )
            "
          ></i>
        </div>
      </td></tr
  ></app-table>
  <app-table
    *ngIf="
      motosState.motos.length > 0 &&
      !motosState.motos[0].DocEntry &&
      motosState.customer.length <= 0
    "
    [headers]="headerService"
  >
    <tr class="tr-container" *ngFor="let customerMotorbike of motosState.motos">
      <td class="td-item">
        <div class="info-of-item-container">
          {{ customerMotorbike.ItemCode }}
        </div>
      </td>
      <td class="td-item">
        <div class="info-of-item-container">
          {{ customerMotorbike.ItemDescription }}
        </div>
      </td>
      <td class="td-item">
        <div class="info-of-item-container">
          {{ customerMotorbike.U_Chasis }}
        </div>
      </td>
      <td class="td-item">
        <div class="info-of-item-container">
          {{ customerMotorbike.U_Motor }}
        </div>
      </td>
      <td class="td-item">
        <div class="info-of-item-container actions-container">
          <i
            class="fa-solid fa-pen-to-square edit-action"
            (click)="openDialogService(customerMotorbike, modalSevice)"
            ngbTooltip="Crear / Editar Service"
          ></i>
          <i
            class="fa fa-history history-action"
            aria-hidden="true"
            ngbTooltip="Consultar el historial de servicios de la moto"
            (click)="
              getHistory(
                customerMotorbike.CustomerCode,
                dialogHistory,
                customerMotorbike.U_Chasis
              )
            "
          ></i>
        </div>
      </td>
    </tr>
  </app-table>
</div>

<!---Modal para cargar clientes-->
<ng-template #modalNewClient let-modal>
  <app-create-customer></app-create-customer>
</ng-template>

<!---Modal para ver el historial de service del cliente-->
<ng-template #dialogHistory let-modal>
  <app-history-service
    [historyService]="motosState.historyService"
    [msg]="motosState.failMsgHistory"
  ></app-history-service>
</ng-template>

<!---Modal para crear nuevo servicio-->
<ng-template #modalSevice let-modal>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
  <app-loading></app-loading>

  <div class="pt-4 px-3">
    <div>
      <h4 *ngIf="!serviceForm.value.ServiceCallID">Crear Servicio</h4>
      <h4 *ngIf="serviceForm.value.ServiceCallID">
        Editar Servicio con el ID {{ serviceForm.value.ServiceCallID }}
      </h4>

      <div class="row">
        <div class="col-4" *ngIf="motosState.historyService.length > 0">
          <div class="form-group">
            <label class="pb-1"
              >Editar/Consultar Service por medio del Historial:</label
            >
            <select
              class="form-control p-2"
              (change)="changeFormValues($event)"
            >
              <option hidden>Service ID | Estado | Asunto</option>
              <option
                *ngFor="let history of motosState.historyService"
                [value]="history.ServiceCallID"
              >
                {{ history.ServiceCallID }} -
                {{
                  history.Status === -1
                    ? "Cerrado"
                    : history.Status === -3
                    ? "Abierto"
                    : history.Status === -2
                    ? "Pendiente"
                    : history.Status === 2
                    ? "En proceso"
                    : "Desestimados"
                }}
                - {{ history.CustomerName }} - {{ history.Subject }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-4 d-flex align-items-end">
          <button
            class="btn-paradigm"
            *ngIf="serviceForm.value.ServiceCallID"
            (click)="newServiceClicked()"
          >
            Nuevo Service
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-2 px-3">
    <ul class="nav nav-tabs" id="service" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="basicdata-tab"
          data-bs-toggle="tab"
          data-bs-target="#basicdata"
          aria-controls="basicdata"
          aria-selected="true"
          type="button"
          role="tab"
        >
          Datos Básicos
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="calltypedata-tab"
          data-bs-toggle="tab"
          data-bs-target="#calltypedata"
          type="button"
          role="tab"
          aria-controls="calltypedata"
          aria-selected="false"
        >
          Datos de la Llamada
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="operations-tab"
          data-bs-toggle="tab"
          data-bs-target="#operations"
          type="button"
          role="tab"
          aria-controls="operations"
          aria-selected="false"
        >
          Operaciones
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="combos-tab"
          data-bs-toggle="tab"
          data-bs-target="#combos"
          type="button"
          role="tab"
          aria-controls="combos"
          aria-selected="false"
        >
          Combos
        </button>
      </li>
      <li class="nav-item" role="presentation" *ngIf="currentPDF !== null">
        <button
          class="nav-link"
          id="showPDF-tab"
          data-bs-toggle="tab"
          data-bs-target="#showPDF"
          type="button"
          role="tab"
          aria-controls="showPDF"
          aria-selected="false"
        >
          Visualizar PDF
        </button>
      </li>
      <li class="nav-item" role="presentation" *ngIf="currentPDF !== null">
        <a [href]="currentPDF" download="PDF-SERVICE">
          <button class="nav-link" type="button">Descargar PDF</button>
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content p-4" id="serviceContent">
    <div
      class="tab-pane fade show active"
      id="basicdata"
      role="tabpanel"
      aria-labelledby="basicdata-tab"
    >
      <form [formGroup]="serviceForm">
        <div class="row p-1 px-2">
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">C° Socio de Negocio - Dato requerido</label>
              <input
                formControlName="CustomerCode"
                readonly
                class="form-control p-2"
              />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Nombre del Socio - Dato requerido</label>
              <input
                readonly
                formControlName="CustomerName"
                class="form-control p-2"
              />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">N° de Telefono - Dato no requerido</label>
              <input formControlName="Telephone" class="form-control p-2" />
            </div>
          </div>
        </div>

        <div class="row p-1 px-2">
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Destino de factura - Dato requerido</label>
              <input
                formControlName="BPBillToAddress"
                class="form-control p-2"
              />
              <app-error-message
                [field]="$any(serviceForm.get('BPBillToAddcress'))"
                error="required"
                message="Dirección de factura requerida"
              ></app-error-message>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Provincia/Ciudad - Dato no requerido</label>
              <input readonly formControlName="City" class="form-control p-2" />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Correo Electrónico - Dato requerido</label>
              <input formControlName="BPeMail" class="form-control p-2" />
              <app-error-message
                [field]="$any(serviceForm.get('BPeMail'))"
                error="required"
                message="Email requerido"
              ></app-error-message>
            </div>
          </div>
        </div>

        <div class="row p-1 px-2">
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">C° Articulo - Dato requerido</label>
              <input
                formControlName="ItemCode"
                readonly
                class="form-control p-2"
              />
              <app-error-message
                [field]="$any(serviceForm.get('ItemCode'))"
                error="required"
                message="C° del articulo requerido"
              ></app-error-message>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Descripción - Dato requerido</label>
              <input
                formControlName="ItemDescription"
                readonly
                class="form-control p-2"
              />
              <app-error-message
                [field]="$any(serviceForm.get('ItemDescription'))"
                error="required"
                message="Descripción del articulo requerida"
              ></app-error-message>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Chasis - Dato requerido</label>
              <input
                formControlName="U_Chasis"
                appUpperCase
                class="form-control p-2"
              />
              <app-error-message
                [field]="$any(serviceForm.get('U_Chasis'))"
                error="required"
                message="Chasis requerido"
              ></app-error-message>
            </div>
          </div>
        </div>

        <div class="row p-1 px-2">
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Motor - Dato requerido</label>
              <input
                formControlName="U_Motor"
                appUpperCase
                class="form-control p-2"
              />
              <app-error-message
                [field]="$any(serviceForm.get('U_Motor'))"
                error="required"
                message="Motor requerido"
              ></app-error-message>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Patente - Dato no requerido</label>
              <input
                formControlName="U_Patente"
                readonly
                class="form-control p-2"
              />
              <app-error-message
                [field]="$any(serviceForm.get('U_Chasis'))"
                error="required"
                message="Chasis requerido"
              ></app-error-message>
            </div>
          </div>
          <div
            class="col-4"
            *ngIf="serviceForm.value.InternalSerialNum !== null"
          >
            <div class="form-group">
              <label class="pb-1">Serie</label>
              <input
                formControlName="InternalSerialNum"
                appUpperCase
                readonly
                class="form-control p-2"
              />
              <app-error-message
                [field]="$any(serviceForm.get('U_Chasis'))"
                error="required"
                message="Chasis requerido"
              ></app-error-message>
            </div>
          </div>
        </div>

        <div class="row p-1 px-2">
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Color - Dato no requerido</label>
              <input formControlName="U_NombColor" class="form-control p-2" />
            </div>
          </div>
          <div class="col-4" *ngIf="serviceForm.value.ServiceCallID">
            <div class="form-group">
              <label class="pb-1">Fecha de creación</label>
              <input
                formControlName="CreationDate"
                readonly
                class="form-control p-2"
              />
            </div>
          </div>
          <div class="col-4" *ngIf="serviceForm.value.ServiceCallID">
            <div class="form-group">
              <label class="pb-1">Fecha de cierre</label>
              <input
                formControlName="ClosingDate"
                readonly
                class="form-control p-2"
              />
            </div>
          </div>
        </div>

        <div *ngIf="!serviceForm.value.ServiceCallID" class="row p-1 px-2">
          <h5>Cargar otra moto:</h5>
          <form [formGroup]="searchOtherMotorbike" class="row">
            <div class="col-2">
              <div class="form-group">
                <label class="pb-1">Marca</label>
                <input formControlName="brand" class="form-control p-2" />
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label class="pb-1">Modelo</label>
                <input formControlName="model" class="form-control p-2" />
              </div>
            </div>
            <div class="col-2 d-flex align-items-end">
              <button
                class="btn-paradigm mt-1"
                [disabled]="!searchOtherMotorbike.valid"
                (click)="getMotorbikesByBrandAndModel('SEARCH')"
              >
                Buscar
              </button>
            </div>
            <app-table
              [headers]="headerNewMotorbike"
              class="mt-2"
              *ngIf="motosState.motorbikeByBrandAndModel.length > 0"
            >
              <tr
                class="data-row"
                *ngFor="
                  let motorbike of motosState.motorbikeByBrandAndModel
                    | slice
                      : (secondPageIndex - 1) * pageSize
                      : (secondPageIndex - 1) * pageSize + pageSize
                "
              >
                <td class="item-col-1">{{ motorbike.ItemCode }}</td>
                <td class="item-col-2">{{ motorbike.ItemName }}</td>
                <td class="item-col-3 actions-container">
                  <i
                    class="fa-solid fa-check edit-action"
                    (click)="getMotorbikesByBrandAndModel('ADD', motorbike)"
                    ngbTooltip="Seleccionar y Agregar"
                  ></i>
                </td>
              </tr>
            </app-table>
            <div
              class="d-flex justify-content-center item-align-center pt-2"
              *ngIf="motosState.motorbikeByBrandAndModel.length > 0"
            >
              <ngb-pagination
                [collectionSize]="motosState.motorbikeByBrandAndModel.length"
                [(page)]="secondPageIndex"
                [pageSize]="pageSize"
              ></ngb-pagination>
            </div>
          </form>
        </div>
      </form>
    </div>

    <div
      class="tab-pane fade"
      id="calltypedata"
      role="tabpanel"
      aria-labelledby="calltypedata-tab"
    >
      <form [formGroup]="serviceForm">
        <div class="row p-1 px-2">
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Estado de la Llamada - Dato requerido</label>
              <select
                class="form-control p-2"
                formControlName="Status"
                (ngModelChange)="openChooseCombo($event)"
                *ngIf="serviceForm.value.ServiceCallID"
                addParsedValue
              >
                <option
                  *ngFor="let status of coreState.statusCall"
                  [value]="status.value"
                >
                  {{ status.name }}
                </option>
              </select>
              <select
                class="form-control p-2"
                formControlName="Status"
                *ngIf="!serviceForm.value.ServiceCallID"
                addParsedValue
              >
                <option
                  *ngFor="let status of coreState.statusCall.slice(0, 1)"
                  [value]="status.value"
                >
                  {{ status.name }}
                </option>
              </select>
              <app-error-message
                [field]="$any(serviceForm.get('Status'))"
                error="required"
                message="Estado requerido"
              ></app-error-message>
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Prioridad - Dato requerido</label>
              <select
                class="form-control p-2"
                formControlName="Priority"
                addParsedValue
              >
                <option
                  *ngFor="let priority of coreState.priority"
                  [value]="priority.value"
                >
                  {{ priority.name }}
                </option>
              </select>
              <app-error-message
                [field]="$any(serviceForm.get('Priority'))"
                error="required"
                message="Nivel de prioridad requerido"
              ></app-error-message>
            </div>
          </div>
          
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Kilometros - Dato requerido</label>
              <input
                type="number"
                formControlName="U_Kilometraje"
                class="form-control p-2"
              />
              <app-error-message
                [field]="$any(serviceForm.get('U_Kilometraje'))"
                error="required"
                message="Kilometraje requerido"
              ></app-error-message>
            </div>
          </div>
        </div>

        <div
          class="row p-1 px-2"
          *ngIf="
            (showSelecCombo &&
              serviceForm.value.ProblemType === 34 &&
              serviceForm.value.Status === -1) ||
            (showSelecCombo &&
              serviceForm.value.ProblemType === 37 &&
              serviceForm.value.Status === -1)
          "
        >
          <h6>Seleccionar el combo para remitir al cerrar el service</h6>
          <app-table
            [headers]="[
              'N° Factura',
              'Producto',
              'Descripción',
              'Fecha',
              'Pendiente'
            ]"
            *ngIf="(motosState.combos | comboFilter).length > 0"
          >
            <tr
              class="tr-container"
              (click)="selectCombo(item)"
              *ngFor="let item of motosState.combos | comboFilter"
            >
              <td class="td-item">
                <div class="info-of-item-container">
                  {{ item.DocNum }}
                </div>
              </td>
              <td class="td-item">
                <div class="info-of-item-container">
                  {{ item.ItemCode }}
                </div>
              </td>
              <td class="td-item">
                <div class="info-of-item-container">
                  {{ item.Dscription }}
                </div>
              </td>
              <td class="td-item">
                <div class="info-of-item-container">
                  {{ item.DocDate }}
                </div>
              </td>
              <td class="td-item">
                <div class="info-of-item-container">
                  {{ item.OpenQty }}/{{ item.Quantity }}
                </div>
              </td>
            </tr>
          </app-table>
          <h3 *ngIf="!(motosState.combos | comboFilter).length">
            No posee combos facturados.
          </h3>
        </div>

        <div
          class="row p-1 px-2"
          *ngIf="
            comboSelected &&
            comboSelected.DocumentLines &&
            comboSelected.DocumentLines.length > 0
          "
        >
          <ng-container *ngFor="let combo of comboSelected.DocumentLines">
            <span *ngIf="combo.Quantity === 1"
              >Combo seleccionado: {{ combo.ItemCode }}</span
            >
          </ng-container>
        </div>

        <div class="row p-1 px-2">
          <div class="col-6">
            <div class="form-group">
              <label class="pb-1">Asunto - Dato requerido</label>
              <input formControlName="Subject" class="form-control p-2" />
              <app-error-message
                [field]="$any(serviceForm.get('Subject'))"
                error="required"
                message="Asunto requerido"
              ></app-error-message>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="pb-1">Comentario - Dato requerido</label>
              <input formControlName="Description" class="form-control p-2" />
              <app-error-message
                [field]="$any(serviceForm.get('Description'))"
                error="required"
                message="Comentario requerido"
              ></app-error-message>
            </div>
          </div>
        </div>

        <div class="row p-1 px-2" *ngIf="serviceForm.value.ServiceCallID">
          <div class="col-12">
            <div class="form-group">
              <label class="pb-1"
                >Resolución - Dato requerido solo si se quiere cerrar el
                service</label
              >
              <input
                formControlName="Resolution"
                [readonly]="serviceForm.value.Status === -3"
                class="form-control p-2"
              />
              <app-error-message
                [field]="$any(serviceForm.get('Resolution'))"
                error="required"
                message="Resolución requerida"
              ></app-error-message>
            </div>
          </div>
        </div>

        <div class="row p-1 px-2">
          <div class="col-4" *ngIf="coreState.origins.length > 0">
            <div class="form-group">
              <label class="pb-1">Origen - Dato requerido</label>
              <select
                class="form-control p-2"
                formControlName="Origin"
                addParsedValue
              >
                <option
                  *ngFor="let origin of coreState.origins"
                  [value]="origin.OriginID"
                >
                  {{ origin.Name }}
                </option>
              </select>
              <app-error-message
                [field]="$any(serviceForm.get('Origin'))"
                error="required"
                message="Origen requerido"
              ></app-error-message>
            </div>
          </div>
          <div class="col-4" *ngIf="coreState.problemType.length > 0">
            <div class="form-group">
              <label class="pb-1">Tipo de Problema - Dato requerido</label>
              <select
                formControlName="ProblemType"
                (ngModelChange)="clearSubProblemType($event)"
                class="form-control p-2"
                addParsedValue
              >
                <option hidden></option>
                <option
                  *ngFor="let problemType of coreState.problemType"
                  [value]="problemType.ProblemTypeID"
                >
                  {{ problemType.Name }}
                </option>
              </select>
              <app-error-message
                [field]="$any(serviceForm.get('ProblemType'))"
                error="required"
                message="Tipo de problema requerido"
              ></app-error-message>
            </div>
          </div>
          <div class="col-4" *ngIf="coreState.subProblemType.length > 0">
            <div class="form-group">
              <label class="pb-1">Subtipo de Problema - Dato requerido</label>
              <select
                formControlName="ProblemSubType"
                class="form-control p-2"
                addParsedValue
              >
                <option hidden></option>
                <option
                  *ngFor="
                    let subProblemFilter of coreState.subProblemType
                      | subProblemFilter
                        : serviceForm.value.ProblemType
                        : coreState.problemType
                  "
                  [value]="subProblemFilter.ProblemSubTypeID"
                >
                  {{ subProblemFilter.Name }}
                </option>
              </select>
              <app-error-message
                [field]="$any(serviceForm.get('ProblemSubType'))"
                error="required"
                message="Subtipo de problema requerido"
              ></app-error-message>
            </div>
          </div>
        </div>

        <div class="row p-1 px-2">
          <div class="col-4" *ngIf="coreState.callTypes.length > 0">
            <div class="form-group">
              <label class="pb-1">Tipo de Llamada - Dato requerido</label>
              <select
                class="form-control p-2"
                formControlName="CallType"
                addParsedValue
              >
                <option
                  *ngFor="let callType of coreState.callTypes"
                  [value]="callType.CallTypeID"
                >
                  {{ callType.Name }}
                </option>
              </select>
              <app-error-message
                [field]="$any(serviceForm.get('CallType'))"
                error="required"
                message="Tipo de llamada requerida"
              ></app-error-message>
            </div>
          </div>
          <div class="col-4" *ngIf="coreState.employees.length > 0">
            <div class="form-group">
              <label class="pb-1">Técnico - Dato requerido</label>
              <select
                formControlName="TechnicianCode"
                class="form-control p-2 selectpicker"
                addParsedValue
              >
                <option
                  *ngFor="let employee of coreState.employees | employeesFilter"
                  [value]="employee.EmployeeID"
                >
                  {{ employee.FirstName }} {{ employee.LastName }}
                </option>
              </select>
              <app-error-message
                *ngIf="serviceForm.value.ServiceCallID"
                [field]="$any(serviceForm.get('TechnicianCode'))"
                error="required"
                message="Técnico requerido"
              ></app-error-message>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Alarma - Dato requerido</label>
              <select formControlName="U_Alarma" class="form-control p-2">
                <option *ngFor="let opt of coreState.options" [value]="opt">
                  {{ opt }}
                </option>
              </select>
              <app-error-message
                [field]="$any(serviceForm.get('U_Alarma'))"
                error="required"
                message="Posesión de alarma requerida"
              ></app-error-message>
            </div>
          </div>
        </div>

        <div class="row p-1 px-2">
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Casco - Dato requerido</label>
              <select class="form-control p-2" formControlName="U_Casco">
                <option *ngFor="let opt of coreState.options" [value]="opt">
                  {{ opt }}
                </option>
              </select>
              <app-error-message
                [field]="$any(serviceForm.get('U_Casco'))"
                error="required"
                message="Posesión de casco requerida"
              ></app-error-message>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Kit de Herramientas - Dato requerido</label>
              <select
                formControlName="U_Kit_Herramientas"
                class="form-control p-2"
              >
                <option *ngFor="let opt of coreState.options" [value]="opt">
                  {{ opt }}
                </option>
              </select>
              <app-error-message
                [field]="$any(serviceForm.get('U_Kit_Herramientas'))"
                error="required"
                message="Posesión de kit de herramientas requerido"
              ></app-error-message>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Faltante - Dato requerido</label>
              <select formControlName="U_Faltante" class="form-control p-2">
                <option *ngFor="let opt of coreState.options" [value]="opt">
                  {{ opt }}
                </option>
              </select>
              <app-error-message
                [field]="$any(serviceForm.get('U_Faltante'))"
                error="required"
                message="Parte faltante requerida"
              ></app-error-message>
            </div>
          </div>
        </div>

        <div class="row p-1 px-2">
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Rayado - Dato requerido</label>
              <select class="form-control p-2" formControlName="U_Rayado">
                <option *ngFor="let opt of coreState.options" [value]="opt">
                  {{ opt }}
                </option>
              </select>
              <app-error-message
                [field]="$any(serviceForm.get('U_Rayado'))"
                error="required"
                message="Posesión de rayadura requerida"
              ></app-error-message>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Rotura - Dato requerido</label>
              <select formControlName="U_Rotura" class="form-control p-2">
                <option *ngFor="let opt of coreState.options" [value]="opt">
                  {{ opt }}
                </option>
              </select>
              <app-error-message
                [field]="$any(serviceForm.get('U_Rotura'))"
                error="required"
                message="Posesión de rotura requerida"
              ></app-error-message>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="pb-1">Manchado - Dato requerido</label>
              <select formControlName="U_Manchado" class="form-control p-2">
                <option *ngFor="let opt of coreState.options" [value]="opt">
                  {{ opt }}
                </option>
              </select>
              <app-error-message
                [field]="$any(serviceForm.get('U_Manchado'))"
                error="required"
                message="Posesión de manchadura requerida"
              ></app-error-message>
            </div>
          </div>
        </div>

        <div class="row p-1 px-2">
          <div class="col-12">
            <div class="form-group">
              <label class="pb-1">Nivel Combustible - Dato requerido</label>
              <select
                formControlName="U_Nivel_Combustible"
                class="form-control p-2"
              >
                <option
                  *ngFor="let opt of coreState.combustibleOption"
                  [value]="opt.value"
                >
                  {{ opt.name }}
                </option>
              </select>
              <app-error-message
                [field]="$any(serviceForm.get('U_Nivel_Combustible'))"
                error="required"
                message="Nivel de combustible requerido"
              ></app-error-message>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div
      class="tab-pane fade"
      id="operations"
      role="tabpanel"
      aria-labelledby="operations-tab"
    >
      <div
        class="row p-1 px-2"
        *ngIf="
          serviceForm.value.ServiceCallActivities &&
          serviceForm.value.ServiceCallActivities.length > 0
        "
      >
        <h5>Actividades asociadas a la llamada de servicio:</h5>
        <app-table [headers]="['C° de la Actividad', 'Consultar']">
          <tr
            class="data-row"
            *ngFor="let item of serviceForm.value.ServiceCallActivities"
          >
            <td class="item-col-1">{{ item.ActivityCode }}</td>
            <td class="item-col-2 actions-container">
              <span
                class="edit-action"
                (click)="activityConsult(item.ActivityCode)"
                >Consultar</span
              >
            </td>
          </tr>
        </app-table>
      </div>
      <div
        class="row p-1 px-2"
        *ngIf="motosState.itemsExistInService.length > 0"
      >
        <h5>Articulos Seleccionados para la Realización del Service:</h5>
        <app-table [headers]="headerItemExist">
          <tr
            class="data-row"
            *ngFor="let item of motosState.itemsExistInService"
          >
            <td class="item-col-1">{{ item.ItemCode }}</td>
            <td class="item-col-2">{{ item.ItemDescription }}</td>
            <td class="item-col-3">{{ item.MeasureUnit }}</td>
            <td class="item-col-4">{{ item.Quantity }}</td>
          </tr>
        </app-table>
      </div>
      <div
        class="row p-1 px-2"
        *ngIf="!!serviceForm.value.ClosingDate === false"
      >
        <h5>Inventario:</h5>
        <form [formGroup]="searchInOperationForm" class="row pb-2">
          <div class="col-2">
            <div class="form-group">
              <label class="pb-1">Buscar por</label>
              <select formControlName="searchType" class="form-control p-2">
                <option value="Descripción">Descripción</option>
                <option value="Código">Código</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label class="pb-1">Ingresar aquí</label>
              <input formControlName="item" class="form-control p-2" />
            </div>
          </div>
          <div class="col-2 d-flex align-items-end">
            <button
              class="btn-paradigm mt-1"
              [disabled]="!searchInOperationForm.valid"
              (click)="getItemsFromOperation()"
            >
              Buscar
            </button>
          </div>
        </form>
        <app-table
          [headers]="['Items Encontrados', 'Acción']"
          *ngIf="motosState.itemsFromOperations.length > 0"
        >
          <tr
            class="data-row"
            *ngFor="
              let item of motosState.itemsFromOperations
                | slice
                  : (pageIndex - 1) * pageSize
                  : (pageIndex - 1) * pageSize + pageSize
            "
          >
            <td class="item-col-1">
              {{ item.ItemCode }} - {{ item.ItemName }} |
              {{ item.SalesUnit }}
            </td>
            <td class="item-col-2 actions-container">
              <span class="edit-action" (click)="consultStockAndAddItem(item)">
                Agregar
              </span>
            </td>
          </tr>
        </app-table>
        <div
          class="d-flex justify-content-center item-align-center py-2"
          *ngIf="motosState.itemsFromOperations.length > 0"
        >
          <ngb-pagination
            [collectionSize]="motosState.itemsFromOperations.length"
            [(page)]="pageIndex"
            [pageSize]="pageSize"
          ></ngb-pagination>
        </div>
        <app-table
          [headers]="['Items Seleccionados', 'Cantidad', 'Acción']"
          *ngIf="sales.DocumentLines.length > 0"
        >
          <tr class="data-row" *ngFor="let item of sales.DocumentLines">
            <td class="item-col-1">
              {{ item.ItemCode }} - {{ item.ItemName }} |
              {{ item.MeasureUnit }}
            </td>
            <td class="item-col-2">
              <input
                class="form-control"
                type="number"
                [value]="item.Quantity"
                (change)="
                  changeValueQuantityFromItemInSale(item.ItemCode, $event)
                "
              />
            </td>
            <td class="item-col-3 actions-container">
              <span
                class="history-action"
                (click)="removeFromSale(item.ItemCode)"
              >
                Quitar
              </span>
            </td>
          </tr>
        </app-table>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="combos"
      role="tabpanel"
      aria-labelledby="combos-tab"
    >
      <div class="row p-1 px-2">
        <app-table
          [headers]="[
            'C° Factura',
            'Producto',
            'Descripción',
            'Fecha',
            'Pendiente'
          ]"
          *ngIf="motosState.combos.length > 0"
        >
          <tr class="data-row" *ngFor="let item of motosState.combos">
            <td class="item-col-1">{{ item.FolNumFrom }}</td>
            <td class="item-col-2">{{ item.ItemCode }}</td>
            <td class="item-col-3">{{ item.Dscription }}</td>
            <td class="item-col-4">{{ item.DocDate }}</td>
            <td class="item-col-5">{{ item.OpenQty }}/{{ item.Quantity }}</td>
          </tr>
        </app-table>
        <h5 *ngIf="!motosState.combos.length" class="text-center">
          No posee combos facturados.
        </h5>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="showPDF"
      role="tabpanel"
      aria-labelledby="showPDF-tab"
      *ngIf="currentPDF !== null"
    >
      <div class="row p-1 px-2">
        <iframe [src]="currentPDF" width="100%" height="1000"></iframe>
      </div>
    </div>
  </div>

  <div class="pb-4 px-4 d-flex justify-content-end align-items-center">
    <button
      type="button"
      class="btn-paradigm-secondary m-1"
      (click)="dismiss()"
    >
      Cancelar
    </button>
    <button
      type="button"
      class="btn-paradigm m-1"
      *ngIf="!!serviceForm.value.ClosingDate === false"
      (click)="createOrEditService()"
    >
      Guardar
    </button>
  </div>
</ng-template>
